.container {
  width: 100vw;
  height: 100vh;
}

.container > div {
  display: block;
  border: 1px solid teal;
}

.wrap-card {
  display: flex;
  padding: 1em;
}

.wrap-card > article {
  width: 250px;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-collapse: collapse;
  margin-left: -1px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 50px;
  padding-left: 5px;
}
.wrap-card > article > img {
  width: 25px;
  height: 25px;
}

.leftSlide {
  position: relative;
  animation: slide-left 0.3s;
  animation-fill-mode: forwards;
}

.rightSlide {
  position: relative;
  animation: slide-right 0.3s;
  animation-fill-mode: forwards;
}

.overlab {
  background-color: blue;
}
.grab {
  opacity: 0;
}

@keyframes slide-left {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(250px);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-250px);
  }
}
